version: "3.7"

services:
  app_proxy:
    environment:
      # <id приложения>_<имя сервиса>_1
      # В нашем случае: fatik-django-runner_web_1
      APP_HOST: fatik-django-runner_web_1
      APP_PORT: 8000

  web:
    image: fatalre/django-runner:1.0.0@sha256:ac9413c51f9b718a610b0db3fd4ab08cc095c42604f7e9972f09f2cb0e2c19e7
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "9000:9000"
    volumes:
      # здесь будут лежать проекты, venv’ы и прочие данные
      - ${APP_DATA_DIR}/data:/data
    environment:
      # полезно пробросить системные переменные Umbrel
      DEVICE_HOSTNAME: ${DEVICE_HOSTNAME}
      DEVICE_DOMAIN_NAME: ${DEVICE_DOMAIN_NAME}
      APP_PASSWORD: ${APP_PASSWORD}
      APP_SEED: ${APP_SEED}
      APP_HIDDEN_SERVICE: ${APP_HIDDEN_SERVICE}
