version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: fatik-django-runner_web_1
      APP_PORT: 8000

  web:
    image: fatik/django-runner:0.1.0
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      DEVICE_HOSTNAME: ${DEVICE_HOSTNAME}
      DEVICE_DOMAIN_NAME: ${DEVICE_DOMAIN_NAME}
      APP_PASSWORD: ${APP_PASSWORD}
      APP_SEED: ${APP_SEED}
      APP_HIDDEN_SERVICE: ${APP_HIDDEN_SERVICE}
